 *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        } 
        body{
            font-family: Arial, sans-serif;
            background:#F0F4F8;
        }
        .top-info{
            display:flex;
            justify-content:space-between;
            padding:10px 20px;
            font-weight:bold;
            color:#333;
            font-size:16px;
        }
        .quizz-card{
            width:320px;
            margin:50px auto;
            border-radius:20px;
            background:#ffffff;
            box-shadow: 0 8px 25px rgba(0,0,0,0.15);
            overflow:hidden;
            padding-bottom:20px;
        }
        .quizz-question{
            padding:20px;
            background:#5EFFE2;
            font-weight:bold;
            border-radius:20px 20px 0 0;
            white-space:break-word;
            height:auto;
        }
        ol{
            list-style:none;
            padding:20px;
        }
        .quizz-option{
            padding:12px;
            margin-top:12px;
            border-radius:15px 15px 15px 0px;
            background:#9EA3A0;
            color:#fff;
            cursor:pointer;
            transition: all 0.2s ease;
        }
        .quizz-option:hover{
            background:#666;
        }
        .correct{
            background:#2ecc71 !important;
        }
        .wrong{
            background:#FF0000 !important;
        }
        .quizz-response{
            font-weight:bold;
            text-align:center;
            padding:15px;
            display:none;
        }

#restartBtn {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #3498db;
    color: #fff;
    font-size: 14px;
    transition: 0.2s ease;
    margin-left:150px;
}
